@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.NodeButton {
  all: unset;
}

._node {
  border: 1px solid aqua;
  background-color: white;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin: 0px;
  transition: all 1s;
}

.innerBox {
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
  height: 12px;
}

.OuterBox {
  margin-left: 7%;
  margin-top: 2%;
}

/* NAVBAR */
.menuBar {
  background: #eefffd;
  height: 80px;
  border-bottom: 2px solid #72d1ae;
  box-shadow: 0 0 10px #72d1ae;
  position: relative;
  display: flex;
}

.options {
  display: inline;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.menuBar p {
  color: #72d1ae;
  display: inline;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: "Outfit", sans-serif;
}

._done {
  all: unset;
  background-color: #04aa6d;
  padding: 16px;
  color: white;
  border-radius: 50px;
}

._done:hover {
  background-color: #0a9c67;
  cursor: pointer;
}

._reset {
  all: unset;
  background-color: #04aa6d;
  padding: 16px;
  margin: 10px;
  color: white;
  border-radius: 50px;
}

._reset:hover {
  background-color: #0a9c67;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px 10px 0 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content > button {
  all: unset;
  background-color: #eefffd;
  min-width: 96px;
  border: 1px solid #04aa6d;
}

.dropdown-content > button:hover {
  background-color: #04aa6d;
  font-size: large;
  color: white;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.choose {
  color: red;
  position: absolute;
  z-index: 1;
  padding-left: 30rem;
}
