*{
  margin : 0;
  padding : 0;
}

.NodeButton{
  all : unset;
}

._node{
  border: 1px solid aqua;
  background-color: white;
  width : 10px;
  height: 10px;
  padding : 2px;
  margin : 0px;
  transition: all 1s;
}



.innerBox{
  margin: 0px;
  padding : 0px;
}

div{
  margin : 0px;
  padding : 0px;
  height: 12px;
}

.OuterBox{
  margin-left: 7%;
  margin-top : 2%;
}

.menuBar{
  background : #5EF1E0;
  height: 80px;
}

.menuBar h1{
  display: inline;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button{
  color: black;
  padding: 12px 37px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3de7a9;}

.dropdown{
  margin : 10px;
}

._done{
  all : unset;
  background-color: #04AA6D;
  padding : 16px;
  color : white;
}

._done:hover{
  background-color: #3de7a9;
}


._reset{
  all : unset;
  background-color: #04AA6D;
  padding : 16px;
  margin : 10px;
  color : white;
}

._reset:hover{
  background-color: #3de7a9;
}